@CHARSET "ISO-8859-1";

.update a {
	border: #0080c0 solid 1px;
	text-decoration: none;
	padding: 20px;
	font-weight: bold;
}

.update a:hover {
	border: #0080c0 solid 1px;
	background-color: green;
	color: white;
}

.adddata {
	width: 50%;
}

.adddata label {
	margin-right: 30px;
}

.adddata div {
	width: 80%;
	margin-top: 10px;
	padding: 20px;
	border-bottom: #0080c0 solid 1px;
}

.adddata input {
	width: 300px;
	border: #0080c0 solid 1px;
	padding: 10px;
}

.adddata textarea {
	width: 300px;
	border: #0080c0 solid 1px;
	padding: 10px;
}

.show tr {
	height: 30px;
	padding: 3px;
	width: 200px;
}

.show td {
	height: 30px;
	border-bottom: #408080 solid 1px;
	padding: 3px;
	width: 200px;
}

.importdata form {
	padding: 2px;
}

.importdata form input {
	border: green solid 1px;
	height: 30px;
	background-color: #408080;
}

.aboutusmain {
	width:60%;
	height: 500px;
	margin: auto;
}

.aboutus {
	height: 100px;
	border: blue solid 1px;
}
.aboutusheader {
	height: 20px;
	border: blue solid 1px;
	background-color: #c5eddd;
}

.secertory {
	height: 200px;
	border: blue solid 1px;
}

.secertoryheader {
	height: 20px;
	border: blue solid 1px;
	background-color: #c5eddd;
}

.director {
	height: 200px;
	border: blue solid 1px;
}
.directorheader {
	height: 20px;
	border: blue solid 1px;
	background-color: #c5eddd;
}
.lsec
{
	width: 200px;
	height: 178px;
	border: black solid 1px;
	float: left;
}

.rsec
{
	width: 400px;
	height: 178px;
	border: black solid 1px;
	float: right;
}